################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/YetAnotherFarmingSimulator.sln
/UserSettings
/UpgradeLog.htm
/Temp
/ProjectSettings
/Packages
/obj
/Logs
/Library
/Assets
/Assembly-CSharp.Player.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/.vsconfig
/.vs
